.App {
  height: 100%;
}

@media screen and (min-width: 800px) {
  .header-mobile {
    display: none;
  }
}

main {
  min-height: 100%;
  padding: 3rem 0;
  background-color: #282c34;
  color: #fff;
}